@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$primarFont: 'Raleway';
$backColor: rgba(17, 17, 37, 0.877);
$basicWhite: rgb(230, 219, 219);
$pinkyColor: rgb(187, 45, 68);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primarFont;
    background-color: $backColor;
    color: $basicWhite;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px double $basicWhite;
    height: auto;
    min-height: 70vh;
    padding: 30px;

    .searchButton, .clearSearch {
        background-color: transparent;
        border: 1.5px solid $pinkyColor;
        color: $basicWhite;
        outline: none;
    }

    .inputs {
        display: flex;
        flex-direction: row;
        margin: 30px 0 30px;
    
        .nick, .time, .players {
            background-color: transparent;
            border: none;
            border-bottom: 1.3px solid $pinkyColor;
            width: 140px;
            transition: all 0.6s ease-in-out;
            color: $basicWhite;
            text-align: center;
            &::-webkit-input-placeholder {
                color: rgba(133, 133, 197, 0.719);
            }
            &:hover {
                width: 180px;
                &::-webkit-input-placeholder {
                    transition: 1.3s;
                    color: transparent;
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
    
    .inputs > * {
        margin: 0 10px;
    }
   
    .results {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;

        .loader {
            display: none;
            justify-content: center;
            margin-top: 100px;
           
            div {
                width: 30px;
                height: 30px;
                background-color: $pinkyColor;
                margin: 0 20px;
                border-radius: 100%;
            }

            .loader_dot-1 {
                animation: loader 1s ease-in-out 0s infinite;
            }

            .loader_dot-2 {
                animation: loader 1s ease-in-out 0.2s infinite;
            }

            .loader_dot-3 {
                animation: loader 1s ease-in-out 0.4s infinite;
            }
        }

        .randomSection {
            display: none;
            align-items: center;
            width: auto;
            letter-spacing: 2px;
            text-align: center;
            margin: 50px 0 100px;

            .random, .notPlayed {
                font-size: 30px;
                color: $basicWhite;
                margin: 0 10px;
            }
        }

        .totalTime {
            font-size: 50px;
            color: $pinkyColor;
        }
        
        span:first-of-type {
            color: $pinkyColor;
            font-size: 30px;
            transition: all 0.5s ease-in-out;

            &:hover {
                font-size: 35px;
                letter-spacing: 1px;
            }
        }

        #gameCollection {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            .singleGame {
                display: flex;
                width: 30%;
                flex-direction: row;
                margin: 20px;
                font-size: 13.5px;

                .textInfo {
                    display: flex;
                    flex-direction: column;
                    
                    >p {
                        margin-bottom: 10px;
                    }
                }

                .gameTime {
                    font-size: 17px;
                    color: $pinkyColor;
                }

                .buttonNotSelected {
                    background-color: $backColor;
                    border: 2px solid $pinkyColor;
                    height: 40px;
                    width: 40px;
                    outline: none;
                }

                .buttonSelected {
                    @extend .buttonNotSelected;
                    background-color: $pinkyColor;
                }
            }
        }


    }

    .gamePhoto {
        height: 180px;
        width: 135px;
        margin-right: 20px;
    }
}


@keyframes loader {
    0% {opacity: 1}
    10% {opacity: 0.8}
    20% {opacity: 0.6}
    30% {opacity: 0.4}
    40% {opacity: 0.2}
    50% {opacity: 0}
    60% {opacity: 0.2}
    70% {opacity: 0.4}
    80% {opacity: 0.6}
    90% {opacity: 0.8}
    100% {opacity: 1}
}

